body{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:#0a58ca;
    
}
a:hover{
    color:#0d6efd ;
}
.navigation{
    display: flex;
    /*position: fixed;*/
    width: 100%;
    background-color: #f0f8ff;
    z-index: 2;
}

.navigation ul li a{
    padding: 15px 20px;
}
.navigation .logo{
    display: inline-flex;
    justify-content: flex-start;
    width: 25%;
    font-size:40px;
    font-weight: 600;
    font-family: 'Lavishly Yours','Passions Conflict','Birthstone Bounce', cursive;
}
.navigation ul{
    display: inline-flex;
    width: 75%;
    justify-content: flex-end;
    align-items: center;
}
.navigation ul li{
   display: inline;
}
.ilustration img{
    width:80%;
    height: auto;
}
.intro-txt{
    margin: auto auto;
    padding-left: 5vw;
}
.intro-txt span{
    color: #0d6efd;
    font-size: 7vw;
    position: absolute;
    z-index: -1;
    opacity: 0.56;
}
.services{
    margin: 100px auto;
    padding:5% 8%;
    background-color: #f0f8ff57;
}
.service{
    text-align: center;
}
.service h4{
    color: #0a58ca;
}
.footer{
    background-color:#f0f8ff;
    color: #0a58ca;
    padding: 30px;
    text-align: left;
}

ul{
    list-style: none;
}
@media screen and (max-width:540px){
    .navigation{
        display: block;
        width: 100%;
        padding: 0;
    }
    .navigation ul{
        display: block;
        align-items: center;
        text-align: center;
        
    }
    .navigation ul li a{
        padding: 8px;
    }
}
.projects{
    width: 80%;
    margin: 100px auto 0;
   
}
.number{   
    font-size: 5vw; 
    color: #0a58ca; 
    opacity: 0.5;
    margin: 0;
    padding: 0;
}
.proj-content{
    padding:30px 0;
    margin:20px 0;
    line-height: 2;
}
.proj-title{
    padding:1vh;
}
.link-btn{
    border: solid 1px gray;
    text-align: left;
}
form{
    width:50%;
    margin: 0 auto;
    margin-bottom: 60px;
    padding:50px;
    border-radius: 4px;
    box-shadow: inset;
    
}
form h3, form p{
    text-align: center;
}

.form-group{
    padding: 20px 0;
}
form label{
    color: #0a58ca;
    background-color: #fff;
}

.sendbtn{
    text-align: center;
    margin: auto 0;
}
.skillset h3, .skillset p{
    text-align: center;
}
.skills{
    display: flex;
    padding: 20px auto;
    margin: 20px 10%;
    width:80%;
}
.skills span{
    padding:20px;
    background-color: #0d6dfd4c;
    margin: 0 20px;
    border-radius: 35px;
    font-weight: 500;
}
.skills span:nth-child(odd) {
    background: #0d6dfd75;
  }