body{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
p{
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color:#0a58ca;   
}

a:hover{
    color:#0d6efd ;
}
.navigation{
    display: flex;
    /*position: fixed;*/
    width: 100%;
    background-color: #f0f8ff;
    z-index: 2;
}

.navigation ul li a{
    padding: 15px 20px;
}
 .logo{
    display: inline-flex;
    justify-content: flex-start;
    width: 25%;
    font-size:40px;
    font-weight: 600;
    font-family: 'Lavishly Yours','Passions Conflict','Birthstone Bounce', cursive;
}
.navigation ul{
    display: inline-flex;
    width: 75%;
    justify-content: flex-end;
    align-items: center;
}
.navigation ul li{
   display: inline;
}
.ilustration img{
    width:80%;
    height: auto;
}
.intro-txt{
    margin: auto auto;
    padding-left: 5vw;
}
.name{
    color: rgb(255, 227, 56);
    font-size: 7vw;
    /* opacity: 0.56; */
    font-family: 'Lavishly Yours','Passions Conflict','Birthstone Bounce', cursive;
    padding-bottom: 2vh;
}
.services{
    padding:1% 8%;
    background-color: #f0f8ff57;
}
.service{
    text-align: center;
    padding-top: 100px;
}
.service i{
   color: #ffe338;
   font-size: 50px;
}
.service h4{
    color: #0a58ca;
}
.service p, .icon{
    padding: 15px 0;
}
.footer{
    background-color:#f0f8ff;
    color: #0a58ca;
    padding: 30px;
    text-align: left;
}

ul{
    list-style: none;
}
@media screen and (max-width:540px){
    .navigation{
        display: block;
        width: 100%;
        padding: 0;
    }
    .navigation ul{
        display: block;
        align-items: center;
        text-align: center;
        
    }
    .navigation ul li a{
        padding: 8px;
    }
}
.projects{
    width: 80%;
    margin: 100px auto 0;
}

.number{   
    font-size: 5vw; 
    color: #0a58ca; 
    opacity: 0.5;
    margin: 0;
    padding: 0;
}
.proj-content{
    padding:30px 0;
    margin:20px 0;
    line-height: 1.75;
}
.proj-title{
    padding:1vh;
}
.proj-img img{
    width: 70%;
    height: auto;
    margin-top:30%;
}
.link-btn{
    border: solid 1px gray;
    text-align: left;
}
form{
    width:65%;
    margin: 0 auto;
    margin-bottom: 60px;
    padding:50px;
    border-radius: 4px;
    box-shadow: inset;
    
}
@media (max-width: 768px) {
    form{
        width:90%;
        margin: 0 auto;
        margin-bottom: 60px;
        padding:50px;
        border-radius: 4px;
        box-shadow: inset;
        
    }
    .proj-img img{
        width: 50%;
        height: auto;
        margin-top:30%;
    }
    p{
        font-size: 1.1rem;
    }
}
form h3, form p{
    text-align: center;
}
input{
    height: 50px;
}
.form-group{
    padding: 20px 0;
}
form label{
    color: #0a58ca;
    background-color: #fff;
}

.sendbtn{
    text-align: center;
    margin: auto 0;
    background-color: #0a58ca;
    height: 50px;
    width:20%;
    border: solid 1px gray;
    border-radius: 4px;
    color: #f0f8ff;
}
.skillset h3, .skillset p{
    text-align: center;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10%;
    width:80%;
}
.skills span{
    padding:20px;
    background-color: #0d6dfd4c;
    margin: 5px 20px;
    border-radius: 35px;
    font-weight: 500;
}
.skills span:nth-child(odd) {
    background: #0d6dfd75;
  }
  /* @media (max-width: 700px) {
    .skills {
      flex-direction: column;
    }
  } */
  /* Pre-loader CSS */
.page-loader{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #272727;
    z-index: 1000;
    .txt{
        color: #666;
        text-align: center;
        top: 40%;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-weight: bold;
        line-height: 1.5;
    }
}

/* Spinner animation */
.spinner {
  position: relative;
  top: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: #0a58ca;
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
/*description*/
.desc{
    padding:5% 8%;
}
.title{
    color:#0d6efd;
}